<ngb-carousel >
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/hero1.jpg" alt="first slide" class="slideImage">
      </div>
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/hero1.jpg" alt="second slide" class="slideImage">
      </div>
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/hero1.jpg" alt="third slide" class="slideImage">
      </div>
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
  </ngb-carousel>
  <section class="featured">
      <div class="d-flex justify-content-center pt-4">
          <h1>Welcome to the Shop!</h1>
      </div>
  </section>
